spring:
  application:
    name: springboot-graalvm-lambda

# R2DBC Configuration for Reactive Database Access
  r2dbc:
    url: r2dbc:postgresql://postgres:5432/productdb
    username: postgres
    password: password
    pool:
      initial-size: 20
      max-size: 50
      max-idle-time: 30m
      max-acquire-time: 10s
      max-create-connection-time: 5s
      validation-query: SELECT 1
  
# Data Initialization (R2DBC)
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

# Kafka Configuration for AsyncAPI
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: 1
    consumer:
      group-id: audit-logger
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
  


# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

