spring:
  config:
    activate:
      on-profile: chaos

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,chaosmonkey
  metrics:
    tags:
      env: chaos

chaos:
  monkey:
    enabled: true
    watcher:
      controller: false
      rest-controller: true
      service: true
      repository: true
      component: true

    assaults:
      # How frequently chaos happens (lower = more frequent)
      # Level is "requests to skip". 3 means attack every 3rd request.
      level: 3

      # Built-in Chaos Monkey attacks
      exceptions-active: true
      latency-active: true
      kill-application-active: true
      memory-active: true
      
      latency-range-start: 1000
      latency-range-end: 3000
      
      kill-application-cron-expression: "*/30 * * * * ?"  # Every 30 seconds
      
      memory-milliseconds-hold-filled-memory: 5000
      memory-milliseconds-wait-next-increase: 1000
      memory-fill-increment-fraction: 0.15
      memory-fill-target-fraction: 0.25

      # Register custom assaults by bean names
      custom-assaults:
        - cpuBurnAssault
        - memoryBurnAssault
