apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-graalvm-jit
spec:
  replicas: 1
  selector:
    matchLabels:
      app: springboot-graalvm-jit
  template:
    metadata:
      labels:
        app: springboot-graalvm-jit
    spec:
      containers:
        - name: app
          image: mrinmay939/springboot-graalvm-jit:v2.0
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "128Mi"
              cpu: "200m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10