apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: springboot-graalvm
data:
  postgres-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: PostgreSQL
        type: postgres
        url: postgres:5432
        database: productdb
        user: postgres
        secureJsonData:
          password: "password"
        jsonData:
          sslmode: "disable"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: springboot-graalvm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:latest
        ports:
        - containerPort: 3000
        env:
        - name: GF_SECURITY_ADMIN_PASSWORD
          value: "admin"
        - name: GF_SECURITY_ADMIN_USER
          value: "admin"
        volumeMounts:
        - name: grafana-storage
          mountPath: /var/lib/grafana
        - name: grafana-datasources
          mountPath: /etc/grafana/provisioning/datasources/postgres-datasource.yaml
          subPath: postgres-datasource.yaml
      volumes:
      - name: grafana-storage
        emptyDir: {}
      - name: grafana-datasources
        configMap:
          name: grafana-datasources
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: springboot-graalvm
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30004
    protocol: TCP
