apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: springboot-graalvm
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'spring-boot-aot'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['springboot-graalvm-aot:8080']
            labels:
              application: 'springboot-graalvm-aot'

      - job_name: 'spring-boot-jit'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['springboot-graalvm-jit:8080']
            labels:
              application: 'springboot-graalvm-jit'
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: springboot-graalvm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus:latest
        args:
          - '--config.file=/etc/prometheus/prometheus.yml'
          - '--storage.tsdb.path=/prometheus'
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: prometheus-config
          mountPath: /etc/prometheus
        - name: prometheus-storage
          mountPath: /prometheus
      volumes:
      - name: prometheus-config
        configMap:
          name: prometheus-config
      - name: prometheus-storage
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: springboot-graalvm
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
    nodePort: 30003
    protocol: TCP
